* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  letter-spacing: 1px;
  font-family: Montserrat, sans-serif;
}
.item0 {
  display: grid;
  grid-area: item0;
  background-image: url(img/b3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  place-items: center;
}
.item1,
.item3,
.item4,
.item6,
.item8 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dau li {
  display: block;
  list-style-type: none;
  padding: 10px 15px;
}
.dau {
  margin-top: 10px;
  color: white;
}
.best {
  font-size: 200%;
  padding-left: 54px;
}
.Learn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 80px;
  background-color: palevioletred;
  color: white;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-bottom: 115px;
}

.item1 {
  flex-grow: 1;
  padding: 20px;
  color: white;
  text-align: center;
  grid-area: item1;
  color: white;

  background-color: blueviolet;
}
.item2 {
  grid-area: item2;
}
.item3 {
  text-align: center;
  grid-area: item3;
  color: white;
  background-color: palevioletred;
}
.item4 {
  text-align: center;
  grid-area: item4;
  color: white;
  background-color: palevioletred;
}
.item5 {
  grid-area: item5;
}
.item6 {
  text-align: center;
  grid-area: item6;
  color: white;
  background-color: blueviolet;
}
.item7 {
  grid-area: item7;
}
.item8 {
  text-align: center;
  grid-area: item8;
  color: white;
  background-color: blueviolet;
}
.item9 {
  grid-area: item9;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.all {
  display: grid;
  grid-template-areas:
    "item0 item0 item0 item0"
    "item1 item2 item2 item3"
    "item4 item4 item5 item6"
    "item7 item8 item9 item9";
}
.item1 {
  background-color: blueviolet;
}
.chu1 {
  padding-bottom: 200px;
  text-align: center;
}
.chu2 {
  padding-bottom: 200px;
  text-align: center;
}
h2 {
  color: white;
  /* padding: 5em 2em 0em; */
  font-size: 27px;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
  letter-spacing: 2px;
}

p {
  font-size: 14px;
  line-height: 25px;
  color: rgb(193, 193, 193);
  padding: 15px;
  letter-spacing: 1px;
  font-family: Montserrat, sans-serif;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}

nav .menu li p {
  color: #fff;
  display: block;
  padding: 8px 15px;
}
.menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu :hover {
  color: red;
  background: plum;
  transition: all 0.3s;
}
#pink {
  color: palevioletred;
}
.bake {
  text-align: center;
  font-size: 35px;
  padding: 8px 102px;
}
.toggle {
  display: flex;
  justify-content: end;
  align-items: center;
}
li {
  font-size: 10px;
  padding: 10px;
}
.Learn:hover {
  background: red;
}
.ne {
  text-align: right;
}
.toggle {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
  .menu {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  nav {
    display: block;
  }
  .bake {
    display: inline-block;
  }
  .menu {
    display: none;
  }
  .toggle {
    background-color: paleturquoise;
    display: block;
    position: absolute;
    font-size: 20px;
    top: 15px;
    right: 0;
  }
  .all {
    grid-template-areas:
      "item0 item0 item0 item0"
      "item1 item1 item1 item1"
      "item2 item2 item2 item2"
      "item3 item3 item3 item3"
      "item4 item4 item4 item4"
      "item5 item5 item5 item5"
      "item6 item6 item6 item6"
      "item7 item7 item7 item7"
      "item8 item8 item8 item8"
      "item9 item9 item9 item9";
  }
}
