* {
  margin: 0;
  padding: 0;
}
.all {
  display: flex;
  flex-direction: row;
}
.haeder {
  width: 2000px;
  height: 100px;
  background-color: blueviolet;
  display: flex;
}
ul,
li {
  list-style: none;
  float: left;
  padding: 6px 15px;
  color: white;
}
.bake {
  float: left;
  color: white;
  padding: 25px 138px;
}
ul {
  float: right;
  padding: 26px 0px;
}
li {
  display: block;
  padding: 8px 15px;
  color: red;
}
.pink {
  color: rgb(229, 15, 125);
}
@media screen and (max-width: 800px) {
  .menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: blueviolet;
  }
}
