body {
  background-image: url(https://img.freepik.com/premium-photo/sunlight-gradient-background-smooth-blurred-abstract-natural_29277-184.jpg?size=626&ext=jpg&ga=GA1.1.257416298.1699935603&semt=ais);
  background-size: cover;
}
h1 {
  text-align: center;
  color: rgb(0, 47, 255);
}
.t1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: black solid;
  border-collapse: collapse;
}
