h1 {
  text-align: center;
  color: whitesmoke;
}
h3 {
  color: goldenrod;
  text-align: center;
  margin-right: 800px;
}
body {
  background-image: url(https://cdn.pixabay.com/photo/2016/08/27/11/59/pokemon-1624022_1280.jpg);
  background-size: cover;
  background-attachment: fixed;
}

ol {
  text-align: center;
  margin-right: 700px;
}

#vang {
  color: rgb(193, 193, 37);
}
#xanh {
  color: rgb(53, 155, 243);
}
#cam {
  color: orangered;
}
#do {
  color: rgb(234, 79, 23);
}
#xám {
  color: rgb(153, 148, 148);
}
