h1 {
  text-align: center;
}
.tb1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: black 1px solid;
  border-collapse: collapse;
}

body {
  background-image: url(https://i.pinimg.com/564x/4e/fd/a7/4efda7fffee14ffd39a29c55d9d9eabb.jpg);
  background-size: 50%;
}
#H1 {
  margin-left: 1000px;
}
div {
  display: flex;
  justify-content: center;
}
